{{! This partial will list a post excerpt using the 'excerpt' theme helper in Ghost }}
<article class="galleryItem hentry {{post_class}}">

    <a href="/{{slug}}" rel="bookmark">{{content words="0"}}</a>

    <header class="h2 entry-title">
        <a href="/{{slug}}" rel="bookmark">{{title}}</a>
    </header>

    <time class="updated" datetime="2012-05-03">
        {{date published_at format="MMMM DD, YYYY"}}
    </time>

    <section class="entry-content clearfix">
        <p>{{excerpt}}...</p>
        <a href="/{{slug}}" class="read-more button">Read More</a>
    </section>

    {{#if tags}}
    	<div class="list-post-footer clearfix">		
			<p>
	            <i class="fa fa-tags"></i>

	            {{#each tags}}
	                <!-- Tag Links are not quite ready yet.
	                       <a href="/tags/{{this.name}}"
	                       class="tag-label"
	                       title="View all posts in {{this.name}}"
	                       rel="category">{{this.name}}</a>
	                       -->
	                {{! Use the span below to display tags as plain text until tag links are ready }}
	                <span class="tag-label">{{this.name}}</span>
	            {{/each}}
            </p>
		</div>
	{{/if}}

</article> <!-- end list article  -->
